<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper는 구문을 만들 수 있는 영역
	일반적으로 테이블당 1개씩의 mapper를 둔다
	
	- namespace : 영역을 외부에서 부르기 위한 별칭(일반적으로 테이블 이름으로 사용)
 -->
<mapper namespace="attendanceRequest">

<!--
    <insert id="regist" parameterType="com.kh.spring07.entity.StudentDto">
    
    </insert>
    
    또는
   
    <insert id="regist" parameterType="student">
		INSERT INTO student(
			name, age, score, when
		) VALUES(
			#{name}, #{age}, #{score}, sysdate
		)
	</insert>
	
	알아야 할 설정값
	- id : 구문을 외부에서 호출하기 위한 식별값
	- parameterType : 구문을 실행하기 위해 필요한 데이터 유형(매개변수와 유사)
	- resultType : 구문이 실행된 결과 유형(반환형과 유사)
-->
	<!-- 요청관리 리스트(검색) -->
	<select id="getList" resultType="attendanceRequestDto" parameterType="map">
		SELECT * FROM attendance_request
			<if test="type!=null || type!='모든 요청들'">
				<if test="type=='승인이 필요한 요청들'">
					WHERE attendance_request_management='대기중'
				</if>
				<if test="type=='완료된 요청들'">
					where attendance_request_management='승인됨' or attendance_request_management='거절됨'
				</if>
			</if>	
		ORDER BY attendance_request_no DESC
	</select>
	
	<!-- 승인 버튼 누르면 상태 승인으로 변하게 
	<update id="requestManageYes" parameterType="int">
		update attendance_request SET attendance_request_management='승인됨'
		where attendance_request_no=#{attendance_request_no}
	</update> -->
	
	<!-- 승인 /거절 버튼 구현 -->
	<update id="requestManage" parameterType="map">
		<if test="management=='승인'">
		update attendance_request SET attendance_request_management='승인됨'
		</if>
		<if test="management=='거절'">
		update attendance_request SET attendance_request_management='거절됨'
		</if>
		where attendance_request_no=#{attendance_request_no}
	</update>
	
</mapper>




