@charset "UTF-8";

/*마진*/	
		.margin20 {
			margin: 20px 20px 20px 20px;
		}
		
	/*패딩*/
		.padding32 {
			padding:32px;
		}	
		.padding32-bot{
			padding-bottom:32px;
		}
		.padding10{
			padding:10px;
		}
		.padding15{
			padding:15px;
		}

	/*제목*/
		.title{
			font-size: 25px;
			text-align:left;
			padding-bottom:15px;
        	}
	/*총 요청수*/ 
		.sum-request{
			font-size:16px;
			text-align:right;
		}       
	/*요청관리 상태*/
		.waiting{
        	background-color: #D27300;
         	margin: 0px 3px 0px 0px;
         	padding: 2px 8px;
         	color: #ffffff;
         	text-align: center;
         	font-size: 0.75rem;
         	border-radius: 2px;
		}
		.ok{
	    	background-color: #01853d;
         	margin: 0px 3px 0px 0px;
         	padding: 2px 8px;
         	color: #ffffff;
         	text-align: center;
         	font-size: 0.75rem;
         	border-radius: 2px;
		}
		.no{
	 		 background-color: #bf0920;
        	 margin: 0px 3px 0px 0px;
         	padding: 2px 8px;
         	color: #ffffff;
         	text-align: center;
         	font-size: 0.75rem;
         	border-radius: 2px;
		}
	/*휴가 요청 버튼*/
		.plz{
			text-align: right;
		}
			
	/*요청관리 상태별 조회*/	
		.manage{
			background-color:lightgray;	
		}
	
	/*텍스트*/
		.left-font{
			text-align:left;
		}
		
		.left-float40{
			float:left;			
			width: 38%;
			text-align:left;
		}
		
		.left-float60{
			float:left;			
			width: 62%;
			text-align:left;
		}
		.inline{
			display:inline;
		}
	/*승인 수락 버튼*/
		.btn-group-sm>.btn, .btn-sm {
   			 padding: .25rem .5rem;
   			 font-size: .875rem;
   			 line-height: 1.4;
  		  	 border-radius: .2rem;
		}	